.container {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.duck {
  width: 10vw;
  max-height: 45%;
  height: auto;
  position: absolute;
  top: 68vh;
}

.text {
  margin-top: auto;
  margin-bottom: 35vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 4rem;
  text-shadow: 3px 6px 3px rgba(0, 0, 0, 0.25);
}