.header {
  width: 100%;
  height: 15vh;
  padding: 20px;
  display: flex;
  justify-content: center;

  position: fixed;
  padding: 0.7rem 2rem;
  overflow: hidden;
  z-index: 2;
  width: 100%; 
  margin: auto;
  top: 0;

  position: fixed;
  top: 0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.logo {
  display: inline-block;
  cursor: pointer;
}

.logo:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

.animateLogo {
  transition: transform .35s ease-in-out;
}

.menuBar {
  opacity: 1;
}

.fadeIn {
  -webkit-animation: fade 0.75s linear;
  animation: fade 0.75s linear;
}

@-webkit-keyframes fade {
  0%   { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fade {
  0%   { opacity: 0 }
  100% { opacity: 1 }
}

.shiftLogo {
  transform: translateX(calc(100px - 50vw));
}