.header {
    background-color: #DB5375;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo {
  display: inline-block;
}

.animateLogo {
  transition: transform .35s ease-in-out;
}

.menuBar {
  opacity: 1;
}

.fadeIn {
  -webkit-animation: fade 0.75s linear;
  animation: fade 0.75s linear;
}

@-webkit-keyframes fade {
  0%   { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fade {
  0%   { opacity: 0 }
  100% { opacity: 1 }
}

.shiftLogo {
  transform: translateX(calc(100px - 50vw));
}