.gridContainer {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    position: absolute;
    justify-content: left;
    width: 90%;
    /* border: green 5px solid; */
}

.gridItem {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}