.wrapper {
    display: flex;

}

h1 {
    text-align: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.form {
    width:80%; 
    /* Center */
    margin-left: auto;
    margin-right: auto;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    /* Grid container */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    
}

.title {
    font-weight: 100;
    font-size: 40px;
    text-shadow: 1px 3px 5px #000;
}